* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    padding-top: 10px;
}

body {

    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

table {
    margin: 30px auto;
    background-color: #4a4a4a;
    border: 5px solid #333;
    table-layout: fixed;
    width: auto;
}



.cell {
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(145deg, #8a8a8a, #6b6b6b);
    border: 2px solid #333;
    box-shadow: inset 0 0 5px #000, inset 0 0 10px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    /* display: table-cell;
    overflow: hidden; */
}

.mark {
    /* width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle; */
    background: linear-gradient(145deg, #28b362, #6b6b6b);
    /* border: 2px solid #333; */
    /* box-shadow: inset 0 0 5px #33b353, inset 0 0 10px rgba(255, 255, 255, 0.2); */
    /* cursor: pointer; */

}

.cell:hover {
    background: linear-gradient(145deg, #b4b4b4, #858585);
    border: 2px solid #333;
    box-shadow: inset 0 0 5px #000, inset 0 0 10px rgba(255, 255, 255, 0.2);
}

.cell:active {
    transform: scale(0.95);
    box-shadow: inset 0 0 10px #000;
}

table,
.cell {
    border: black 1px solid;
    border-collapse: collapse;
}

.smiley {
    text-align: center;
    font-size: 30px;
    margin: 20px auto;
}

.smiley span:hover {
    cursor: pointer;
}

.level {
    text-align: center;
}

button {
    width: 100px;
    height: 50px;
    display: inline-block;
    margin: 10px 10px;
    background-color: #4a4a4a;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    vertical-align: top;

}

.buttons {
    width: fit-content;
    margin: 0 auto;
}

button:hover {
    background-color: #3a3a3a;
}

#display {
    font-size: 20px;
    margin: 10px;
    text-align: center;
    color: #fff;
}

.lives {
    text-align: center;
    margin: 10px 10px;
    font-size: 20px;


}

.game {
    width: fit-content;
    padding: 50px;
    margin: auto;
    background: linear-gradient(to bottom, #8a8a8a, #6b6b6b);
    font-family: Arial, sans-serif;
    color: #fff;
    border-radius: 10px;
}

.hints {
    width: fit-content;
    height: fit-content;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
}

.hint {
    margin: 0 10px;

}

.hint:hover {
    cursor: pointer;

}

.clicked-hint {
    text-shadow: 0px -19px 20px #CEC349;
}

.best-score {
    width: fit-content;
    height: fit-content;
    margin: 20px auto;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;

}

.safe-click {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

footer {
    margin-top: 50px;
}

.create-clicked {
    background: linear-gradient(145deg, #28b362, #6b6b6b);

}

.button-done {
    cursor: none;
}

.button-done:hover {
    cursor: none;
    background-color: #4a4a4a;
}