* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    color: #FFFFFF;
}

body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

table {
    margin: 30px auto;
    background-color: #2a2a2a;
    border: 5px solid #444;
    table-layout: fixed;
    width: auto;
}

.cell {
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(145deg, #4a4a4a, #3b3b3b);
    border: 2px solid #555;
    box-shadow: inset 0 0 5px #000, inset 0 0 10px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    /* color: #FFFFFF; */
}

.mark {
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(145deg, #caecd9, #f8efef);
    border: 2px solid #333;
    box-shadow: inset 0 0 5px #cfd6d1, inset 0 0 10px rgba(255, 255, 255, 0.2);
    cursor: pointer;

}

.cell:hover {
    background: linear-gradient(145deg, #5a5a5a, #4a4a4a);
    border: 2px solid #555;
    box-shadow: inset 0 0 5px #000, inset 0 0 10px rgba(255, 255, 255, 0.2);
}

.cell:active {
    transform: scale(0.95);
    box-shadow: inset 0 0 10px #000;
}

table,
.cell {
    border: black 1px solid;
    border-collapse: collapse;
}

.smiley {
    text-align: center;
    font-size: 30px;
    margin: 20px auto;
    /* color: #FFFFFF; */
}

.smiley span:hover {
    cursor: pointer;
}

.level {
    text-align: center;
    /* color: #FFFFFF; */
}

button {
    width: 100px;
    height: 50px;
    display: inline-block;
    margin: 10px 10px;
    background-color: #3a3a3a;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    vertical-align: top;
}

.buttons {
    width: fit-content;
    margin: 0 auto;
}

button:hover {
    background-color: #4a4a4a;
}

#display {
    font-size: 20px;
    margin: 10px;
    text-align: center;
    color: #FFFFFF;
}

.lives {
    text-align: center;
    margin: 10px 10px;
    font-size: 20px;
    color: #FFFFFF;
}

.game {
    width: fit-content;
    padding: 50px;
    margin: auto;
    background: linear-gradient(to bottom, #2a2a2a, #1a1a1a);
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    border-radius: 10px;
}

.hints {
    width: fit-content;
    height: fit-content;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    /* color: #FFFFFF; */
}

.hint {
    margin: 0 10px;
    /* color: #FFFFFF; */
}

.hint:hover {
    cursor: pointer;
}

.clicked-hint {
    text-shadow: 0px -19px 20px #CEC349;
    color: #FFFFFF;
}

.best-score {
    width: fit-content;
    height: fit-content;
    margin: 20px auto;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.safe-click {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}


footer {
    margin-top: 50px;
}